@import "normalize";

// FONTAWESOME
@import url("https://use.fontawesome.com/releases/v5.6.3/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/brands.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css");

* {
  box-sizing: border-box;
}

*:focus{
  outline: none !important;
}

html{
  font-size: 62.5%;
}

body { 
  font-family: $font-family;
  color: #000;
  line-height: 30px;
  font-weight: 100;
  background: #fff;
  overflow-x: hidden;
  font-size: 2.4rem;

  @include max-screen(1700px) {
    font-size: 2rem;
  }

  @include max-screen(767px) {
    font-size: 1.8rem;
    line-height: 22px;
  }

  @include max-screen(360px) {
    font-size: 1.3rem;
    line-height: 20px;
  }

  .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated{
    padding: 0;
  }
}

.clearfix {
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
input,
select {
  border: solid 1px $border-color;
  color: $text-info;
  padding: 0.6rem 1rem;
  height: 40px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
}

input,
select,
button {
    
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
b {
  color: $primary-color;
}
h1 {
  font-family: $font-family;
  font-size: 80px;
  font-weight: 100;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  @include max-screen(767px) {
    font-size: 40px;
  }
}

.title{
  font-size: 3.2rem;
  line-height: 45px;
  // font-weight: bold;
  @include max-screen(1700px) {
    font-size: 2.5rem;
    line-height: 30px;
  }
  @include max-screen(767px) {
    font-size: 2rem;
    line-height: 24px;
  }
}

button {
  border: none;
  cursor: pointer;
  -webkit-transition:.2s ease;
    -moz-transition:.2s ease;
    -o-transition:.2s ease;
    transition:.2s ease;
  background: $secondary-color;
  color:#fff;
}

.elementor-swiper-button{
  background: $secondary-color;
  padding: 12px;
  border-radius: 25px;
}

img {
  max-width: 100%;
}

a {
  color: $text-info;
  -webkit-transition: .2s, -webkit-transform .2s; /* Safari */
  transition: .2s, transform .2s;
  text-decoration: none;

  &:hover{
    opacity: 0.5;
  }
}
a:visited {
  color: $text-info;
}

#map {
  width: 100%;
  height: 100%;
}
hr {
  border-color: #c9c9c9;
}
// Base class

.no-padding{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  @include min-screen(1700px) {
    max-width: 1700px;
  }
}

.container-small{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  @include min-screen(1700px) {
    max-width: 1565px;
  }
}
.sp,
.SP {
    @include min-screen(768px) {
        display: none !important;
    }
}

.pc,
.PC {
    @include max-screen(767px) {
        display: none !important;
    }
}
