$primary-color: #72A9B7;
$secondary-color: #1D3752;
$link-color: #000;
$text-info: #2C7596;

$border-color: #dbdbdb;
$button-color: #3f46ae;

$font-size-body: 1.6rem;
$font-size-secondary: 1.3rem;
$font-family-base: Arial, Helvetica, sans-serif;
$font-family: Arial, Helvetica, sans-serif;

$size-s: 600px;
$size-m: 992px;
$size-l: 1200px;
$size-xl: 1366px;
$size-xxl: 1440px;
