/* argument */
/* site style */
/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ background-image ]
-------------------------------------------------*/
/* [ writing-mode ]
-------------------------------------------------*/
/* [ illustrator & photoshop letter spacing ]
-------------------------------------------------*/
/* [ easy breakpoint ]
-------------------------------------------------*/
/* [ easy transform ]
-------------------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://use.fontawesome.com/releases/v5.6.3/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/brands.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: 600;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 30px;
  font-weight: 100;
  background: #fff;
  overflow-x: hidden;
  font-size: 2.4rem;
}

@media only screen and (max-width: 1700px) {
  body {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.8rem;
    line-height: 22px;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 1.3rem;
    line-height: 20px;
  }
}

body .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
  padding: 0;
}

.clearfix:before {
  display: table;
  content: "";
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

input,
select {
  border: solid 1px #dbdbdb;
  color: #2C7596;
  padding: 0.6rem 1rem;
  height: 40px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

b {
  color: #72A9B7;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 100;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

.title {
  font-size: 3.2rem;
  line-height: 45px;
}

@media only screen and (max-width: 1700px) {
  .title {
    font-size: 2.5rem;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 2rem;
    line-height: 24px;
  }
}

button {
  border: none;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background: #1D3752;
  color: #fff;
}

.elementor-swiper-button {
  background: #1D3752;
  padding: 12px;
  border-radius: 25px;
}

img {
  max-width: 100%;
}

a {
  color: #2C7596;
  -webkit-transition: .2s, -webkit-transform .2s;
  /* Safari */
  transition: .2s, -webkit-transform .2s;
  transition: .2s, transform .2s;
  transition: .2s, transform .2s, -webkit-transform .2s;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a:visited {
  color: #2C7596;
}

#map {
  width: 100%;
  height: 100%;
}

hr {
  border-color: #c9c9c9;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 1700px) {
  .container {
    max-width: 1700px;
  }
}

.container-small {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 1700px) {
  .container-small {
    max-width: 1565px;
  }
}

@media only screen and (min-width: 768px) {
  .sp,
  .SP {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .pc,
  .PC {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Post style
--------------------------------------------------------------*/
.post-widget {
  text-align: center;
}

.widget-post {
  font-size: 0;
  padding: 0 20px;
}

@media only screen and (min-width: 767px) {
  .widget-post.grid-style .widget-post__item {
    width: calc(33.333% - 10px);
    margin-right: 10px;
  }
  .widget-post.grid-style .widget-post__item:nth-child(3n + 0) {
    margin-right: 0;
  }
}

.widget-post.grid-style .widget-post__img {
  height: 250px;
}

@media only screen and (min-width: 767px) {
  .widget-post.grid-style .widget-post__img {
    height: 350px;
  }
}

.widget-post__title {
  font-size: 2rem;
  color: #72A9B7;
  margin-top: 10px;
}

.widget-post__item {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  .widget-post__item {
    margin-bottom: 50px;
  }
}

.widget-post__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 250px;
}

@media only screen and (min-width: 767px) {
  .widget-post__img {
    height: 550px;
  }
}

@media only screen and (min-width: 767px) {
  .widget-post__img img {
    position: absolute;
    width: auto;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.widget-post span {
  font-size: 1.4rem;
}
/*# sourceMappingURL=style_widget.css.map */