.post-widget{
    text-align: center;
}

.widget-post{
    font-size: 0;
    padding: 0 20px;

    &.grid-style{
        .widget-post__item{
            @include min-screen(767px) {
                width: calc(33.333% - 10px);
                margin-right: 10px;

                &:nth-child(3n + 0){
                    margin-right: 0;
                }
            }
        }

        .widget-post__img{
            height: 250px;
            @include min-screen(767px) {
                height: 350px;
            }
        }
    }

    &__title{
        font-size: 2rem;
        color: $primary-color;
        margin-top: 10px;
    }

    &__item{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @include min-screen(767px) {
            margin-bottom: 50px;
        }
    }

    &__img{
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 250px;
        @include min-screen(767px) {
            height: 550px;
        }

        img{
            @include min-screen(767px) {
                position: absolute;
                width: auto;
                height: 100%;
                min-width: 100%;
                object-fit: cover;
                @include centerer(true, true);
            }
        }
    }

    span{
        font-size: 1.4rem;
    }
}